<div ng-app="events" ng-controller="MainCtrl">
    <ul>
    <li ng-repeat="event in events">
        {{event.name}} – {{event.data}}
    </li>
    </ul>
    <div>
        <button ng-click="reload()" class="btn btn-primary">Reload</button>
    </div>
</div>
